---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="site-body{% if page.url == '/' %} is-home{% endif %}{% if page.layout == 'archive' %} is-archive-page{% endif %}{% if page.url contains '/research' %} is-research{% endif %}{% if page.url contains '/publications' %} is-publications{% endif %}{% if page.url contains '/cv' %} is-cv{% endif %}{% if page.url contains '/talks' %} is-talks{% endif %}{% if page.url contains '/teaching' %} is-teaching{% endif %}{% if page.url contains '_zh' %} is-zh{% endif %}">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
